@import './re-usable/variables.scss';

.red-btn {
  width: 100%;
  border-radius: 8px;
  padding: 14px;
  background: linear-gradient(0deg, $red-gradient-dark, $red-gradient-light);
  color: white;
}

.red-btn:disabled {
  opacity: 0.5;
}
