@import './re-usable/variables.scss';
@import './re-usable/buttons.scss';

.admin-navbar {
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 10px;
}

.admin-tabs {
  padding: 13px 50px;
  color: $grey;
  border: 1px solid $grey;
  border-radius: 5px;
  margin-top: 10px;

  &.active {
    color: $red;
    border: 1px solid $red;

    &:hover {
      text-decoration: none;
      cursor: default;
      background: transparent;
      color: $red;
    }
  }
  &:hover {
    color: white;
    text-decoration: none;
    background: linear-gradient(0deg, $red-gradient-dark, $red-gradient-light);
  }
}

@media screen and (max-width: 600px) {
  .admin-tabs {
    padding: 13px;
  }
  .admin-navbar {
    justify-content: flex-start;
    margin-left: 20px;
  }
}

.page-container {
  position: relative;
}

.auth-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 800px;
  padding-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
}

.login-button-container {
  margin-top: 50px;
}

.logout-link {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  text-decoration: none !important;
}

.error-box {
  color: $red;
  margin-top: 25px;
}

.logout-container {
  min-width: 100px;
  margin-top: 10px;
  position: absolute;
  right: 4%;
}

.loading {
  width: 100vw;
  height: 100vh;
  background: $background-grey;
  color: $grey;
  font-size: 50px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-text {
  padding: auto;
}

.box {
  flex: 1;
  display: flex;
}

.top-row-container {
  margin: 0px 3%;
  padding: 35px 0px;
  display: flex;
}

.title-container {
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
}

.search-admin {
  max-width: 75%;
}

@media screen and (min-width: 600px) {
  .title-container {
    font-size: 28px;
    font-weight: 500;
  }
  .logout-link {
    width: 100%;
  }

  .search-admin {
    max-width: 55%;
  }
}

.table-container {
  margin: 0px 3%;
  padding-top: 3%;
}

.ReactTable {
  border: 0px;
}

.rt-tr-group {
  border-bottom: 0px !important;
  text-align: center;
}

.ReactTable .rt-tbody .rt-td {
  border-right: 0px;
}

.rt-tr {
  align-items: center;
}

.rt-thead {
  font-weight: 500;
}

.Open {
  color: #49e36c;
  border: 1.5px solid #49e36c;
}

.Closed {
  color: $red;
  border: 1.5px solid $red;
}

.Open,
.Closed {
  background: transparent;
  border-radius: 5px;
  padding: 7px 10px;
  font-size: 12px;
  min-width: 75px;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.Open:active,
.Open:focus {
  outline: none;
}

.Closed:active,
.Closed:focus {
  outline: none;
}

.Open:hover,
.Closed:hover {
  box-shadow: 2px 4px 5px $grey;
  font-weight: 400;
}
