@import './re-usable/variables.scss';
@import './re-usable/buttons.scss';

.car-form-page {
  position: relative;
  padding-bottom: 30px;
}

form div {
  margin: 0px;
}

.form-control {
  border: 0px;
  border-bottom: 2px solid $grey;
  background: transparent;
  border-radius: 0px;
}

.form-control:disabled {
  cursor: not-allowed;
}

.form-control:focus {
  border-color: $grey;
  background: transparent;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px $grey, 0 0 0px $grey;
  box-shadow: inset 0 0px 0px $grey, 0 0 0px $grey;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

*:focus {
  outline: 0;
}

select:active {
  background: transparent;
}

.car-form-page-container {
  margin: 0px 5%;
  padding-top: 5%;
}
.text-container {
  margin-bottom: 50px;
}
.header-container {
  text-align: center;
  font-size: 23px;
  font-weight: 800;
}
.detail-container {
  text-align: center;
  margin-bottom: 30px;
}
.make-container {
  padding: 10px;
  display: flex;
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 15px;
  opacity: 1;
  transition: 0.2s ease;
  z-index: -2;
}

.arrow-year {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  width: 10px;
  opacity: 1;
  transition: 0.2s ease;
  z-index: -2;
}

.model-container {
  padding: 10px;
  display: flex;
  position: relative;
}

.mileage-container,
.years-container,
.budget-container,
.timeframe-container {
  width: 75%;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.mileage-slider {
  padding-bottom: 5px;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .car-form-page-container {
    margin: 0px auto;
    max-width: 800px;
    padding-left: 2%;
    padding-right: 2%;
  }

  .years-container,
  .budget-container,
  .mileage-container,
  .timeframe-container {
    width: 50%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .timeframe-select {
    position: relative;
  }

  .mileage-text {
    margin-bottom: 8px;
  }
  .mileage-slider {
    width: 100%;
  }
  .mileage-number {
    margin-top: 5px;
  }
  .zip-select {
    text-align: right;
  }
}

.timeframe-select {
  position: relative;
}

.years-select {
  display: flex;
}
.to-text {
  padding: 5px 10px;
  vertical-align: center;
}

.budget-select {
  display: flex;
}

.button-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 25px;
}

.zip-select {
  width: 50%;
}

.min-years-select,
.max-years-select,
.min-budget-select,
.max-budget-select {
  position: relative;
  padding-right: 5px;
  width: 50%;
  min-width: 80px;
}

textarea.form-control,
textarea.form-control:focus {
  background: white;
  padding: 10px;
  min-height: 125px;
  border: 0px;
  resize: none;
  border-radius: 5px;
}

.comments-text {
  padding: 5px;
}

.comments-container {
  padding: 10px;
}
